<img src="{{ site.github.url }}/assets/img/work/proj-8/img1.jpg" alt="Polisi Snowboarding Co.">
<img src="{{ site.github.url }}/assets/img/work/proj-8/img2.jpg" alt="Polisi Snowboarding Co.">
<img src="{{ site.github.url }}/assets/img/work/proj-8/img3.jpg" alt="Polisi Snowboarding Co.">
<img src="{{ site.github.url }}/assets/img/work/proj-8/img4.jpg" alt="Polisi Snowboarding Co.">
<img src="{{ site.github.url }}/assets/img/work/proj-8/img5.jpg" alt="Polisi Snowboarding Co.">
<img src="{{ site.github.url }}/assets/img/work/proj-8/img6.jpg" alt="Polisi Snowboarding Co.">
<img src="{{ site.github.url }}/assets/img/work/proj-8/img7.jpg" alt="Polisi Snowboarding Co.">