<img src="{{ site.github.url }}/assets/img/work/proj-6/img1.jpg" alt="Bottlerock Festival" />
<img src="{{ site.github.url }}/assets/img/work/proj-6/img2.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img3.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img4.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img5.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img6.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img7.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img8.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img9.jpg" alt="Bottlerock Festival">
<img src="{{ site.github.url }}/assets/img/work/proj-6/img10.jpg" alt="Bottlerock Festival">