<img src="{{ site.github.url }}/assets/img/work/proj-3/img1.jpg" alt="CannaBliss Chocolate" />
<img src="{{ site.github.url }}/assets/img/work/proj-3/img2.jpg" alt="CannaBliss Chocolate">
<img src="{{ site.github.url }}/assets/img/work/proj-3/img3.jpg" alt="CannaBliss Chocolate">
<img src="{{ site.github.url }}/assets/img/work/proj-3/img4.jpg" alt="CannaBliss Chocolate">
<img src="{{ site.github.url }}/assets/img/work/proj-3/img5.jpg" alt="CannaBliss Chocolate">
<img src="{{ site.github.url }}/assets/img/work/proj-3/img6.jpg" alt="CannaBliss Chocolate">
<img src="{{ site.github.url }}/assets/img/work/proj-3/img7.jpg" alt="CannaBliss Chocolate">