<img src="{{ site.github.url }}/assets/img/work/proj-7/img1.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img2.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img3.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img4.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img5.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img6.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img7.jpg" alt="Alt | D Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img8.jpg" alt="Alt | D Magazine">